<div class="d-flex justify-content-evenly align-items-center">
    <mat-form-field>
        <input matInput placeholder="Add new task" #newtaskinput>
    </mat-form-field>
    <button mat-raised-button color="primary"
        (click)="addTask(newtaskinput.value); newtaskinput.value = ''">Add</button>
</div>

<mat-card *ngIf="todos.length > 0">
    <mat-list>
        <mat-list-item *ngFor="let task of todos;let i = index">
            <mat-divider *ngIf="i != 0"></mat-divider>
            <div class="list-items row align-items-center">
                <div class="col-6 d-flex justify-content-end">
                    <mat-slide-toggle (change)="toggle(task.id)" [checked]="!!task.done" color="primary">
                        <span [ngClass]="{done:task.done}">{{task.text}}</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button matTooltip="Delete task" matTooltipPosition="above" mat-button
                        (click)="removeTask(task.id)">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                    </button>
                </div>

            </div>

        </mat-list-item>
    </mat-list>
</mat-card>